* {
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
}

h1 {
    color: rgb(108, 184, 98);
    padding: 2s;
    text-shadow: 3px 3px 4px rgba(3, 218, 39, 0.603);
    padding: 5%;
}

h2 {
    color: rgb(108, 184, 98);
    padding-top: 1%;
    padding-left: 5%;
}

h2 a {
    color: rgb(108, 184, 98);
    text-decoration: none;
}

p {
    color: rgb(108, 184, 98);
    padding-top: 1%;
    padding-left: 5%;
}

p a {
    color: rgb(108, 184, 98);
    padding-top: 1%;
    padding-left: 5%;
    text-decoration: none;
}